<!-- # Cheatsheet on "How to use Pandas for SQL-like actions" 
## Part 1 - Overall review 

--> 
<h1 style="text-align:center;" >How to use Pandas for SQL-like actions</h1>


<h3 style="text-align:center;" >Part 1 - Overall review </h3>


<h4 style="font-family:courier;text-align:center;" >Hessam Mohammad Hosseini</h4> 
<p style="font-family:serif;text-align:center"

<a href="https://github.com/jupihes" style="text-align: center" alt="github account" target="_blank">jupihes@github account</a> <br>
 <a href="mailto:hesam.mhosseini@gmail.com">hesam.mhosseini@gmail.com</a> 
</p> 

<!-- <a href="https://github.com/jupihes" style="text-align:center"  alt="github account" target="_blank">
<img src="GitHub_Logo.png" alt="github account" style="width:25px;height:25px;">

 <img src="GitHub_Logo.png" alt="https://github.com/jupihes" width="34" height="34" style="float:left" /> 

[Linkedin](https://www.linkedin.com/in/hesam-mohammad-hosseini-5a351039)
![github](http://www.w3.org/2000/svg) 
[github](https://github.com/jupihes) <br>
--> 

<!-- <a href="https://github.com/jupihes">
<img src="GitHub_Logo.png" alt="github account" style="width:250px;height:25px;">
</a> 
-->

<br>


   In this cheetsheet, I try to make readable and easy to use reference for [SQL](https://en.wikipedia.org/wiki/SQL) users aiming to explain how to do similar action in [Pandas](https://pandas.pydata.org/). My assumption is you know how to have your data as dataframe in Pandas. As soon as you have a dataframe, you can quey like table in SQL.  
   
   <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg" alt="https://github.com/jupihes" width="300" height="300" /> 
   
<!--
![Pandas](https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg) 
--> 
   
Many possibilities are avaiable
[IO Tools (CSV, EXCEL,DB connection …)](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) but most important ones are reading from Excel and CSV. For example, following will read file address of which is `file_address`, skip first row, consider `Time` column to be parsed as `datetime` format and consider `,` as thousands identifer while reading file. 
<br>
<br>
`df =  pd.read_csv(file_name,skiprows=1,parse_dates=['Time'],thousands=',')`


1. [Read csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) <br>
<br> Functions has lots of useful options to fasilitate work. Here are options for `read_csv`. Many of :
<br>
 <br>```df = pandas.read_csv(filepath_or_buffer, sep=', ', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None) ```<br>
 <br>
 
2. [Read excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html#pandas.read_excel)<br> 
<br>
Functions has lots of useful options to fasilitate work. Here are options for `read_excel`:<br>
<br>
```df = pandas.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, parse_cols=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skip_footer=0, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds) 
```
<br>

I tried to summerized and add to what was available on [Pandas comparison with SQL](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html) aiming to simplify understanding. For details on functionality, please check and review [Pandas documentation](http://pandas.pydata.org/pandas-docs/stable). <br>

## 1. SELECT


| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|`select * `<br>`from table`|`table`  |
| `select distinct c5 `<br>`from table` |`table['c5'].unique()`<br> or <br>`table[['c5']].drop_duplicates()`|
| `select c1, c2,c10 `<br>`from table` |`df[[c1, c2,c10]]`  |
| `select c10, c2, c1 `<br>`from table` |`df[[c10, c1, c2]]`  |
| `select c10, c2*12 - c1 + c6 `<br>`from table` |`df['new c'] = df.c2*12 - df.c1 + df.c6`<br>`df[[c10,'new c']]`<br> <br> or <br> <br>`df.assign(c10 = df.c10, new_c = df.c2*12 - df.c1 + df.c6)`|
| ` SELECT total_bill, tip, smoker, time`<br>`FROM tips`<br>`LIMIT 5`| `tips[['total_bill', 'tip', 'smoker','time']].head(5)` |

### Update or delete

|| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|Delete| `DELETE FROM tips`<br>`WHERE tip > 9`|`tips = tips.loc[tips['tip'] <= 9]`|
|Update|`UPDATE tips`<br>`SET tip = tip*2`<br>`WHERE tip < 2`|`tips.loc[tips['tip'] < 2, 'tip'] *= 2`|

## 2. Conditioning at WHERE



|| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|-| `SQL SELECT *`<br>`FROM tips`<br>`WHERE time = 'Dinner'`<br>`LIMIT 5` |`tips[tips['time'] == 'Dinner'].head(5)`<br> or<br>`is_dinner = tips['time'] == 'Dinner'`<br>`tips[is_dinner].head(5)`|
|AND|`SELECT *`<br>`FROM tips`<br>`WHERE time = 'Dinner' AND tip > 5.00`|`tips[(tips['time'] == 'Dinner') & (tips['tip'] > 5.00)]`|
|OR|`SELECT *`<br>`FROM tips`<br>`WHERE size >= 5 OR total_bill > 45`|`tips[(tips['size'] >= 5') or (tips['total_bill'] > 45)]`|
|IS NULL|`SELECT *`<br>`FROM t`<br>`WHERE col2 IS NULL`|`t[t['col2'].isna()]`|
|IS NOT NULL|`SELECT *`<br>`FROM t`<br>`WHERE col IS NOT NULL`|`t[t['col2'].notna()]`|

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
| ` SELECT *`<br>`FROM tips`<br>`ORDER BY tip DESC`<br>`LIMIT 10 OFFSET 5`| `tips.nlargest(10 + 5, columns='tip').tail(10)` |
| ` SELECT total_bill, tip, smoker, time`<br>`FROM tips`<br>`ORDER BY tip DESC`<br>`LIMIT 10 OFFSET 5`| `tips[['total_bill', 'tip', 'smoker','time']] tips.nlargest(10 + 5, columns='tip').tail(10)` |

## 3. GROUP BY

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|`SELECT sex, count(*)`<br>`FROM tips`<br>`GROUP BY sex`|`tips.groupby('sex').size()`<br>or<br>`tips.groupby('sex')['total_bill'].count()`|
|`select A, sum(C), sum(D)`<br>`from df`<br>`group by A`|`df.groupby('A')['B','C'].sum()`|

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|`SELECT day, AVG(tip), COUNT(*)`<br>`FROM tips`<br>`GROUP BY day`|`tips.groupby('day').agg({'tip': np.mean, 'day': np.size})`|

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|`SELECT smoker, day, COUNT(*), AVG(tip)`<br>`FROM tips`<br>`GROUP BY smoker, day`|`tips.groupby(['smoker,'day']).agg({'tip': [np.size, np.mean]})`|

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|`SELECT c1, COUNT(*)`<br>`FROM df`<br>`where country='IR'`<br>`GROUP BY c1`<br>`having count(*)>1000`|`df[df.country == 'IR'].groupby('c1')`<br>`.filter(lambda g: len(g) > 1000).groupby('c1').size()`|
|`SELECT c1, COUNT(*)`<br>`FROM df`<br>`where country='IR'`<br>`GROUP BY c1`<br>`having count(*)>1000 order by count(*) desc`|`df[df.country == 'IR'].groupby('c1').filter(lambda g: len(g) > 1000)`<br>`.groupby('c1').size().sort_values(ascending=False)`|

## 4. ORDER BY


| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|` SELECT *`<br>`FROM df`<br>`ORDER BY A, B`| `df.sort_values(['A', 'B'])` |
|` SELECT *`<br>`FROM df`<br>`ORDER BY A desc, C`| `df.sort_values(['A', 'B'],ascending=[False, True])` |

## 5. UNION, JOIN and other set related operations

I will work to provide more comprehensive explanations on this part.

### 5.1. Union
| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|`SELECT c1, c2`<br>`FROM df1`<br>`UNION ALL`<br>`SELECT c1, c2`<br>`FROM df2`|`pd.concat([df1, df2])`|

Difference between `union all` and `union` is that `union` will remove duplicates.

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|`SELECT c1, c2`<br>`FROM df1`<br>`UNION`<br>`SELECT c1, c2`<br>`FROM df2`|`pd.concat([df1, df2]).drop_duplicates()`|

### 5.2. Different Join cases 
I will add parts to make eplanation on `join` more clear and compehensive. Below image extracted from [Enthought](https://www.enthought.com/) named "Enthought-Python-Pandas-Cheat-Sheets-1-8-v1.0.2" worth more than 100 sentences to explain different types of `join`. You can get whole file via registration on [Enthought](https://www.enthought.com/).
![Image text](Join.png)

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|`SELECT *`<br>`FROM df1`<br>`INNER JOIN df2`<br>`ON df1.key = df2.key`|`pd.merge(df1, df2, on='key')`|
|`SELECT *`<br>`FROM df1`<br>`INNER JOIN df2`<br>`ON df1.c7 = df2.c5`|`pd.merge(df1, df2, left_on='c7',right_on='c5')`|

## 6.Time functionality

In order to have possibility to use time related functionalities, we need help `Pandas` understand which columns are to be treated as time. Of course, the columns should be in for that converting them to time format is possible. For details, please check and review [Pandas documentation](http://pandas.pydata.org/pandas-docs/stable). <br>
If you manage to let `Pandas` know properly which column(s) to be time related column(s), they will end up having `datetime64[ns]` format. `.dtypes` on dataframe provides you with columns formats.
Pass date related column(s) you need to `parse_dates` to `read_csv` or `read_excel` functions. Check Pandas documentation for more details.


Doing so, you can apply `.dt` on column to have date - time selection like 
<br>
    <br>`dt.dayofweek`
    <br>`dt.minute`
    <br>`dt.hour`
    <br>`dt.second`
    <br>`dt.quarter`
    <br>`dt.month`
    <br>`dt.month_name`
    <br>`dt.weekday_name`
    <br>`dt.weekday`
    <br>`dt.weekofyear`
    <br>`dt.year`
    
### How to get current date time using pandas?
`pd.datetime.now()            `
<br>`pd.datetime.now().date()`
<br>`pd.datetime.now().year`
<br>`pd.datetime.now().month`
<br>`pd.datetime.now().day`
<br>`pd.datetime.now().hour`
<br>`pd.datetime.now().minute`
<br>`pd.datetime.now().second`
<br>`pd.datetime.now().microsecond`

Again, check Pandas documentation for more! <br>
<br> Here, we assume `sdate` column to have `datetime64[ns]` format.

|| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|sysdate - n| `SELECT *`<br>`FROM df`<br>`WHERE sdate> sysdate-5`|`df[df['sdate'].dt.date()>  pd.datetime.now().date()-5]`|
|month|`SELECT *`<br>`FROM df`<br>`WHERE sdate in Q1`|`df[(df.sdate.dt.month >= 1) & (df.sdate.dt.month <= 3)]`|
|between|`SELECT *`<br>`FROM t`<br>`WHERE to_char(sdate,'yyyy') between 1998 AND 2018`|`t[(t.sdate.dt.year >= 1998) & (t.sdate.dt.year <= 2018)]`|
||`SELECT *`<br>`FROM t`<br>`WHERE to_char(sdate ,'day')= 'Friday'`|`df[df.sdate.dt.day_name() == 'Friday']`|

## 7. String related functionality like `like`, `Substr`

For columns with `string` content, we could access string related funftionality by applying `.str` on column. Here are few samples: 
<br>
<br>`str.contains` - [contains](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html?) options :  `Series.str.contains(pat, case=True, flags=0, na=nan, regex=True)`
<br>`str.upper`
<br>`str.lower`
<br>`str.extract`
<br>`str.extractall`
<br>`str.find`
<br>`str.findall`
<br>`str.len`
<br>`str.replace`
<br>`str.slice`
<br>`str.split`
<br>`str.strip`



Check [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/search.html?q=.str.&check_keywords=yes&area=default) for more!

|| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|substr| `SELECT *`<br>`FROM tips`<br>`WHERE substr(time,1,2)  = 'Di'`|`tips[tips['time'].str[:2] == 'Di']`|
|like|`SELECT *`<br>`FROM df`<br>`WHERE Country  like '%IR%'`|`df[df['Country'].str.contains('IR') == True]`|
|like|`SELECT *`<br>`FROM df`<br>`WHERE Country  like 'IR%'`|`df[df['Country'].str.startswith('IR') == True]`|
|like|`SELECT *`<br>`FROM df`<br>`WHERE Country  like '%AN'`|`df[df['Country'].str.endswith('AN') == True]`|
|in|`SELECT *`<br>`FROM df`<br>`WHERE City in ('TEHRAN', 'BERLIN','STOKHOLM')`|`df[df['City'].isin(['TEHRAN', 'BERLIN','STOKHOLM'])`|
|regex|`SELECT last_name`<br>`FROM contacts`<br>`WHERE REGEXP_LIKE (last_name, '^A(*)')`|`contacts[contacts['last_name'].str.contains('^A(*)')]`|
|regex|`SELECT c1`<br>`FROM t`<br>`WHERE REGEXP_LIKE(c1,'([A-Z][\d]{4})')`|`t[t['c1'].str.contains(([A-Z][\d]{4}))]`|
|regex|```SELECT upper(trim(to_char(LAC,'xxxxx')) \\'-' \\ trim(to_char(CI,'xxxxx'))) AS "LAC-CI(HEX)"```<br>`FROM t`|`t = t['LAC','CI'].apply(lambda x: x.astype(str).map(lambda x: int(x, base=16)))`<br>`t.assig(LAC-CI(HEX) = t['LAC']+'-'+t['CI']`|

PS: Consider to replace `\\` with `||` in your query. `||` provide concatenation functonality in SQL, but symbol could not be rendered and I put `\\` for now!

##### Oracle's ROW_NUMBER() analytic function

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
| `SELECT * FROM (`<br>`SELECT t.*,`<br>`ROW_NUMBER() OVER(PARTITION BY day ORDER BY total_bill DESC) AS r`<br>`FROM tips t`<br>`)`<br>`WHERE r < 3`<br>`ORDER BY day, r;`|`(tips.assign(r=tips.sort_values(['total_bill'],ascending=False)`<br>`.groupby(['day'])`<br>`.cumcount()+1)`<br>`.query('r < 3')`<br>`.sort_values(['day', 'r']))` |

## To check for missing values <br>
- `df.notnull()` <br>
Use to Drop Missing Values <br>
- `df.dropna()` <br>
Filling Missing Values — Direct Replace<br>
- `df.fillna()`

Besides [Pandas comparison with SQL](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html), I also get ideas from following references:
1. [https://hackernoon.com/pandas-cheatsheet-for-sql-people-part-1-2976894acd0](https://hackernoon.com/pandas-cheatsheet-for-sql-people-part-1-2976894acd0)
2. [https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e](https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e)
3. [https://www.kaggle.com/anagharumade/thinking-like-sql-in-pandas](https://www.kaggle.com/anagharumade/thinking-like-sql-in-pandas)
4. [https://medium.com/fintechexplained/did-you-know-pandas-can-do-so-much-f65dc7db3051](https://medium.com/fintechexplained/did-you-know-pandas-can-do-so-much-f65dc7db3051)
5. [https://towardsdatascience.com/10-python-pandas-tricks-that-make-your-work-more-efficient-2e8e483808ba](https://towardsdatascience.com/10-python-pandas-tricks-that-make-your-work-more-efficient-2e8e483808ba)