# Cheatsheet on "How to use Pandas for SQL-like actions"


I try to summerize and compare [SQL](https://en.wikipedia.org/wiki/SQL) and how to do similar action in [Pandas](https://pandas.pydata.org/).<br>
My assumption is you know how to have your data as table in Pandas.

### How to read your data as Pandas dataframe?
If you do not, read Pandas documentation on how to do so at [Pandas](https://www.pandas.org)
following possibilities are avaiable
[IO Tools (CSV, EXCEL,DB connection â€¦)](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

1. csv
2. excel
3. db connection

it is based on [link](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html) trying to explain things more simple.

## 1. Simple selection

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
| `select * `<br>`from table` |`df.head()`  |
| `select c1, c2,c10 `<br>`from table` |`df[[c1, c2,c10]]`  |
| `select c10, c2, c1 `<br>`from table` |`df[[c10, c1, c2]]`  |
| `select c10, c2*12 - c1 + c6 `<br>`from table` |`df['new c'] = df.c2*12 - df.c1 + df.c6`<br>`df[[c10,'new c']]`<br> <br> or <br> <br>`df.assign(df.c10, new_c = df.c2*12 - df.c1 + df.c6)`|
| ` SELECT total_bill, tip, smoker, time`<br>`FROM tips`<br>`LIMIT 5`| `tips[['total_bill', 'tip', 'smoker','time']].head(5)` |
| ` SELECT total_bill, tip, smoker, time`<br>`FROM tips`<br>`Order by time desc`| `tips[['total_bill', 'tip', 'smoker','time']] ???` |

## 2. Conditioning at WHERE

|Experession| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
|-| `SELECT *`<br>`FROM tips`<br>`WHERE time = 'Dinner'`<br>`LIMIT 5`|`tips[tips['time'] == 'Dinner'].head(5)`<br> or<br>`is_dinner = tips['time'] == 'Dinner'`<br>`tips[is_dinner].head(5)`|
|AND|`SELECT *`<br>`FROM tips`<br>`WHERE time = 'Dinner' AND tip > 5.00`|`tips[(tips['time'] == 'Dinner') & (tips['tip'] > 5.00)]`|
|OR|`SELECT *`<br>`FROM tips`<br>`WHERE size >= 5 OR total_bill > 45`|`tips[(tips['size'] >= 5') & (tips['total_bill'] > 45)]`|
|IS NULL|`SELECT *`<br>`FROM t`<br>`WHERE col2 IS NULL`|`t[t['col2'].isna()]`|
|IS NOT NULL|`SELECT *`<br>`FROM t`<br>`WHERE col IS NOT NULL`|`t[t['col2'].notna()]`|

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
| ` SELECT *`<br>`FROM tips`<br>`ORDER BY tip DESC`<br>`LIMIT 10 OFFSET 5`| `tips.nlargest(10 + 5, columns='tip').tail(10)` |
| ` SELECT total_bill, tip, smoker, time`<br>`FROM tips`<br>`ORDER BY tip DESC`<br>`LIMIT 10 OFFSET 5`| `tips[['total_bill', 'tip', 'smoker','time']] tips.nlargest(10 + 5, columns='tip').tail(10)???` |

##### Oracle's ROW_NUMBER() analytic function

| SQL Sample| Pandas Sample |
| :---:        |    :----:   |          :---: |
| `SELECT * FROM (`<br>`SELECT t.*,`<br>`ROW_NUMBER() OVER(PARTITION BY day ORDER BY total_bill DESC) AS r`<br>`FROM tips t`<br>`)`<br>`WHERE r < 3`<br>`ORDER BY day, r;`|`(tips.assign(r=tips.sort_values(['total_bill'],ascending=False)`<br>`.groupby(['day'])`<br>`.cumcount()+1)`<br>`.query('r < 3')`<br>`.sort_values(['day', 'r']))` |