# Cheatsheet on "How to use Pandas for SQL-like actions"


I try to summerize and compare SQL and how to do similar action in Pandas
My assumption is you know how to have your data as table in Pandas.

### How to read your data as Pandas dataframe?
if you do not, read Pandas documentation on how to do so at [Pandas](https://www.pandas.org)
following possibilities are avaiable

1. csv
2. excel
3. db connection

| SQL Sample| Pandas Sample |
| :---        |    :----:   |          ---: |
| `select * `<br>`from table` |`df.head()`  |
| `select c1, c2,c10 `<br>`from table` |`df[[c1, c2,c10]]`  |
| `select c10, c2, c1 `<br>`from table` |`df[[c10, c1, c2]]`  |
| `select c10, c2*12 - c1 + c6 `<br>`from table` |`df['new c'] = df.c2*12 - df.c1 + df.c6`<br>`df[[c10,'new c']]`<br> <br> or <br> <br>`df.assign(df.c10, new_c = df.c2*12 - df.c1 + df.c6)`|
| ` SELECT total_bill, tip, smoker, time`<br>`FROM tips`<br>`LIMIT 5`| `tips[['total_bill', 'tip', 'smoker','time']].head(5)` |
||| 
| ||
|temp ||
| | |
||ta|